{\rtf1\ansi\ansicpg1252\cocoartf2758
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 Monaco;}
{\colortbl;\red255\green255\blue255;\red14\green18\blue29;}
{\*\expandedcolortbl;;\cssrgb\c6667\c9412\c15294;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs24 \cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 @font-face \{\
    font-family: 'Omnes';\
    src: url(https://static1.squarespace.com/static/650c3f9a79eaa430d6e5dcf8/t/65246b5d8820387fee56bc9a/1696885598042/Omnes+Light.ttf) format('truetype');\
    font-weight: 300; /* Light */\
    font-style: normal;\
\}\
\
body \{\
    background-color: transparent;\
    color: #C2BFCB;\
    font-family: 'Omnes', sans-serif;\
\}
\fs28 \
}